.header{
   background-color: #FFF;
   padding: 0px 15px;
   overflow: hidden;
   white-space: nowrap;
   display: flex;
   align-items: center;
}

.header img{
   width: 15%;
   margin-right: 3%;
}

.header h1{
   font-size: 1.3rem;
   font-weight: bold;
}