.BarraLateral{
    position: fixed;
    background-color: #68A797;
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: center;
}