.footer{
   display: flex;
   align-items: center;
   margin-top: 2%;
   padding: 20px;
   flex-direction: column;
   background-color: var(--cinza-claro);
}

.footer-text{
   font-size: 1.1rem;
   font-weight: bold;
   margin-bottom: 15px;
}